<h1>Regulamin</h1>
<h4>§ 1. Postanowienia ogólne</h4>
<p>  Regulamin określa sposób korzystania ze strony internetowej www.lubimyczytac.pl przez Użytkowników i Użytkowników Zarejestrowanych.
 <br/> Strona internetowa www.lubimyczytac.pl umożliwia komunikację oraz wymianę informacji, opinii i spostrzeżeń przez Użytkowników Zarejestrowanych.</p>

<h4>§ 2. Przedmiot usługi</h4>
<p>1. Poprzez Serwis - tworzony, kontrolowany i obsługiwany przez Administratora - Użytkownikom oferowany jest dostęp do Funkcjonalności bądź możliwość korzystania z Zawartości - zgodnie z Regulaminem lub ewentualnymi dodatkowymi warunkami.</p>
<p>2. Podstawowym przedmiotem Serwisu jest udostępnienie w sieci Internet systemu prezentacji i wymiany informacji o Użytkownikach Zarejestrowanych oraz ich zainteresowaniach literackich, prowadzonego i utrzymywanego przez Administratora, w celu umożliwienia w ten sposób Użytkownikom Zarejestrowanym oceny i komentowania książek i innych publikacji. Za pośrednictwem Serwisu świadczone są lub mogą być świadczone w przyszłości, odpłatne i nieodpłatne usługi na rzecz Użytkowników i Użytkowników Zarejestrowanych związane z przedmiotem Serwisu.</p>
<p>3. Serwis zawiera Zawartość pochodzącą od Użytkowników, Administratora bądź jego kontrahentów, przy czym Administrator nie jest inicjatorem przekazu danych składających się na bądź będących elementem Zawartości nieoznaczonej w sposób niebudzący wątpliwości jako Zawartość pochodząca od Administratora, nie wybiera odbiorcy przekazu takich danych jak również nie wybiera ani nie modyfikuje informacji zawartych w takim przekazie.</p>

<h4>§ 3. Dostęp do Serwisu</h4>
<p>1. Administrator umożliwia dostęp do Serwisu oraz korzystanie z Funkcjonalności jedynie pod warunkiem akceptacji wszystkich zapisów Regulaminu oraz Polityki Prywatności. Akceptacja Regulaminu oraz Polityki Prywatności, dokonywana w procesie Rejestracji, jest równoznaczna z zawarciem Umowy.</p>
<p>2. Administrator udostępnia Regulamin oraz Politykę Prywatności Użytkownikom nieodpłatnie przed zawarciem Umowy w sposób umożliwiający pozyskanie, odtwarzanie i utrwalanie ich treści za pomocą Systemu, którym posługuje się Użytkownik. Brak akceptacji zapisów Regulaminu oraz Polityki Prywatności lub zmian tychże dokumentów oznacza brak możliwości korzystania z Funkcjonalności Serwisu.</p>
<p>3. Przeglądanie Serwisu oraz części jego Zawartości może być udostępnione dla każdego Użytkownika, przy czym zakres dostępu dla tych osób może zostać w każdym czasie i w dowolnym zakresie ograniczany przez Administratora bez podawania przyczyn.</p>

<h4>§ 4. Rejestracja Konta</h4>
<p>1. Rejestracja Konta w Serwisie odbywa się poprzez podanie w formularzu rejestracyjnym następujących danych: Loginu oraz Hasła, a także akceptacji niniejszego Regulaminu oraz Polityki Prywatności.</p>
<p>2. Użytkownik dokonując Rejestracji i akceptując Regulamin oświadcza, iż:</p>
<p>a. jest pełnoletni oraz nie został ubezwłasnowolniony w jakimkolwiek zakresie, bądź ma ukończone 13 lat i posiada zgodę swojego przedstawiciela ustawowego na dokonywanie ważnych czynności prawnych przy wykorzystaniu Serwisu;</p>
<p>b. bierze na siebie odpowiedzialność za: 1) utrzymanie w tajemnicy danych dotyczących jego Konta Użytkownika, w tym hasła, 2) ograniczenie dostępu osób trzecich do Urządzeń końcowych oraz 3) za wszystkie czynności wykonywane w ramach bądź przy wykorzystaniu jego Konta, w tym modyfikację Zawartości Serwisu.</p>
<h4></h4>
<p></p>
<h4></h4>
<p></p>
