<h1>O nas</h1>
<p> Książki Web jest społeczność czytelników, którzy dyskutują, komentują aktualności ze świata książki, zawierają znajomości, kierując się literackim gustem,
  przeczesują imponującą bazę książek, dodając wybrane pozycje na półki swoich internetowych biblioteczek, piszą recenzje, śledzą nowości wydawnicze i informacje o ulubionych autorach,
  a przede wszystkim, wbrew ogłoszonemu w naszym kraju kryzysowi czytelnictwa... pochłaniają i kupują książki.</p>
