<% @micropost = Micropost.find_all_by_book_id(@book.id) %>
<% if @micropost.count > 0 %>

  <% @micropost.each do |m| %>
  <div id="micropost">
  <%@user = User.find_by_id(m.user_id) %>
  <div class="osoba"><b> <%= @user.name %> <%= @user.surname %> </b> </div>
  <div>
    <%= m.content %>
  </div>
  </div>
    <% end %>
<% else %>
    <h4> jeszcze nie dodano opini </h4>
<% end %>