// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body_user{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid royalblue;
}
#dane{
  border: 2px solid royalblue;
  margin-top:5px;
  width: 350px;
  padding-left: 15px;
  padding-top: 10px;
  float: left;
}
#menu_user{
  padding-right:20px;
  padding-top: 10px;
  float: right;
  width: 300px;
  margin-bottom: 50px;
  li{
    margin-top: 5px;
    text-align: center;
    background-color: royalblue;
  }
  a{
    color: #ffffff;
  }
  a:hover{
    background-color: #a8c9ff;
  }
}
.nav-tabs{
  background-color: royalblue;
  li{
    margin-top: 5px;
    text-align: center;
    background-color: royalblue;
  }
  a {
    color: #ffffff;
  }
  a:hover{
    background-color: #a8c9ff;
  }
}
#admin {
  float: left;
}
